.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;

  &--space-between {
    justify-content: space-between;
  }

  &--centered {
    justify-content: center;
    align-items: center;
  }
}

.fs {
  &-12 {
    font-size: 12px;
  }

  &-30 {
    font-size: 30px;
  }
}

.dimension {
  &-5 {
    height: 50px;
    width: 50px;
  }
}

.m {
  &-0 {
    margin: 0;
  }

  &-l {
    &-10 {
      margin-left: 10px;
    }
  }
}

.p {
  &-10 {
    padding: 10px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.color {
  &-black {
    color: black;
  }
}

.loader {
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 1;
}

.wrapper {
  position: relative;
}

.city-select {
  width: 295px;
  display: flex;
  justify-content: space-between;

  &__selector {
    width: 65% !important;
  }

  &__submit {
    width: 30%;
  }
}
